apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
  namespace: searxng
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  chart:
    spec:
      chart: app-template
      version: 4.6.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        replicas: 2
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/searxng/searxng
              tag: 2026.2.26-c3e3d2d85@sha256:2c86f95c22dde03f5354a81b027ec882830748c5fe6454f03c7ec8fc384e54ea
            env:
              SEARXNG_BASE_URL: https://searxng.${INTERNAL_DOMAIN}
              SEARXNG_PORT: &port 8080
              UWSGI_WORKERS: 2
              UWSGI_THREADS: 4
            envFrom:
              - secretRef:
                  name: searxng-secret-env

            ports:
              - containerPort: *port
                name: http
                protocol: TCP
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 400Mi
              limits:
                memory: 400Mi
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 977
            runAsGroup: 977
            fsGroup: 977
            fsGroupChangePolicy: OnRootMismatch

    service:
      main:
        controller: main
        ports:
          http:
            port: 80
            targetPort: http

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - host: &host "searxng.${INTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: searxng-ingress-tls

    persistence:
      config:
        enabled: true
        type: configMap
        name: searxng-settings
        globalMounts:
          - path: /etc/searxng/settings.yml
            subPath: settings.yml
            readOnly: true
          - path: /etc/searxng/limiter.toml
            subPath: limiter.toml
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          main:
            main:
              - path: /tmp
                subPath: tmp
