apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  interval: 24h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    semver: 0.41.x
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
  verify:
    provider: cosign
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
  namespace: flux-system
spec:
  chartRef:
    kind: OCIRepository
    name: flux-instance
  interval: 1h
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  values:
    instance:
      components:
        - source-controller
        - kustomize-controller
        - helm-controller
        - notification-controller
        - source-watcher
      cluster:
        size: small
        networkPolicy: true
      sync:
        interval: 1m
        kind: GitRepository
        path: kubernetes/clusters/production
        pullSecret: flux-system
        ref: refs/heads/main
        url: https://github.com/dreadster3/home-ops
