apiVersion: v1
kind: Namespace
metadata:
  name: external-dns
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: external-dns
  namespace: external-dns
spec:
  interval: 24h
  url: https://kubernetes-sigs.github.io/external-dns/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chart:
    spec:
      chart: external-dns
      version: 1.x.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: external-dns
  dependsOn:
    - name: vault
      namespace: vault
  values:
    serviceMonitor:
      enabled: true

    provider:
      name: rfc2136

    policy: sync

    sources:
      - service
      - ingress
      - traefik-proxy

    txtOwnerId: k8s-prd
    txtPrefix: external-dns-

    env:
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET
        valueFrom:
          secretKeyRef:
            name: external-dns-tsig-key
            key: key

    extraArgs:
      - --rfc2136-host=192.168.30.2
      - --rfc2136-port=53
      - --rfc2136-zone=dreadster.net
      - --rfc2136-zone=${INTERNAL_DOMAIN}
      - --rfc2136-tsig-keyname=k8s-external-dns
      - --rfc2136-tsig-secret-alg=hmac-sha256
      - --rfc2136-tsig-axfr
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-tsig-key
  namespace: external-dns
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: external-dns-tsig-key
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: externaldns/tsig
