apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: termix
  namespace: termix
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  chart:
    spec:
      chart: app-template
      version: 4.6.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/lukegus/termix
              tag: realease-1.11.0@sha256:402f918e3c32aad6d928df8ba6ee39c6fd1a6e250369d86e3a521635a3286a7a
            env:
              TZ: Europe/Lisbon
              PORT: &port 8080
            ports:
              - containerPort: *port
                name: http
                protocol: TCP
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                cpu: 100m
                memory: 512Mi
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
              fsGroupChangePolicy: OnRootMismatch

    service:
      main:
        controller: main
        ports:
          http:
            port: 80
            targetPort: http

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - host: &host "termix.${INTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: termix-ingress-tls

    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        size: 1Gi
        globalMounts:
          - path: /app/data
