apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
  namespace: openwebui
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  chart:
    spec:
      chart: app-template
      version: 4.6.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ollama/ollama
              tag: 0.17.0@sha256:006ad593108a705eafc8ea8496a30765222bdab17b1a1b0bbe3d50ff2e70fbf4
            env:
              TZ: Europe/Lisbon
              OLLAMA_HOST: 0.0.0.0
              OLLAMA_ORIGINS: "*"
              OLLAMA_MODELS: &modelPath "/models"
              OLLAMA_KEEP_ALIVE: "24h"
              OLLAMA_LOAD_TIMEOUT: "600"
            resources:
              requests:
                cpu: 1000m
                memory: 2Gi
              limits:
                cpu: 4000m
                memory: 8Gi

    service:
      main:
        controller: main
        ports:
          http:
            port: 11434

    persistence:
      models:
        enabled: true
        type: persistentVolumeClaim
        size: 100Gi
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        globalMounts:
          - path: *modelPath
      config:
        enabled: true
        type: persistentVolumeClaim
        size: 1Gi
        accessMode: ReadWriteOnce
        storageClass: ceph-block
        globalMounts:
          - path: /root/.ollama
