apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 24h
  url: https://charts.external-secrets.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chart:
    spec:
      chart: external-secrets
      version: 1.x.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: external-secrets
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
    - name: prometheus-operator
      namespace: monitoring
  values:
    installCRDs: true
    serviceMonitor:
      enabled: true
      renderMode: alwaysRender
    grafanaDashboard:
      enabled: true
      sidecarLabel: "grafana/dashboard"
      sidecarLabelValue: "true"
      annotations:
        grafana/folder: ESO
