apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  chart:
    spec:
      version: 2025.12.2
  values:
    authentik:
      email:
        host: smtp.gmail.com
        port: 587
        username: file:///var/run/secrets/authentik-secret-env/SMTP_USERNAME
        password: file:///var/run/secrets/authentik-secret-env/SMTP_PASSWORD
        use_tls: true
        from: no-reply@${EXTERNAL_DOMAIN}
