apiVersion: v1
kind: Service
metadata:
  name: portainer-agent
  namespace: portainer
  labels:
    app.kubernetes.io/name: portainer
    app.kubernetes.io/instance: portainer
    app.kubernetes.io/component: agent
  annotations:
    external-dns.alpha.kubernetes.io/hostname: k8s.portainer-agent.dreadster.net
