apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: monitoring
  name: kubernetes-secret-store-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: monitoring
  name: kubernetes-secret-store-role
rules:
  - apiGroups: [""]
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - authorization.k8s.io
    resources:
      - selfsubjectrulesreviews
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kubernetes-secret-store-role-binding
  namespace: monitoring
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kubernetes-secret-store-role
subjects:
  - kind: ServiceAccount
    name: kubernetes-secret-store-sa
    namespace: monitoring
---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: kubernetes-secret-store
  namespace: monitoring
spec:
  provider:
    kubernetes:
      remoteNamespace: monitoring
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
      auth:
        serviceAccount:
          name: kubernetes-secret-store-sa
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: thanos-object-store
  namespace: monitoring
spec:
  secretStoreRef:
    name: kubernetes-secret-store
    kind: SecretStore
  target:
    name: thanos-object-store
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        objstore.yml: |
          type: S3
          config:
            bucket: thanos
            endpoint: rook-ceph-rgw-k8s-ceph-objectstore.rook-ceph.svc.cluster.local
            access_key: {{.AWS_ACCESS_KEY_ID}}
            secret_key: {{.AWS_SECRET_ACCESS_KEY}}
            insecure: true
  dataFrom:
    - extract:
        key: thanos-bucket
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: loki-password-generator
  namespace: monitoring
spec:
  length: 64
  symbols: 0
  allowRepeat: true
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: loki-auth
  namespace: monitoring
spec:
  refreshInterval: 2160h
  secretStoreRefs:
    - name: vault-backend
      kind: ClusterSecretStore
  selector:
    generatorRef:
      apiVersion: generators.external-secrets.io/v1alpha1
      kind: Password
      name: loki-password-generator
  template:
    data:
      username: local
      password: "{{ .password }}"
  data:
    - match:
        secretKey: password
        remoteRef:
          remoteKey: loki/gateway
          property: password
    - match:
        secretKey: username
        remoteRef:
          remoteKey: loki/gateway
          property: username
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: loki-gateway
  namespace: monitoring
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: loki-gateway
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        .htpasswd: "{{ htpasswd .gateway_username .gateway_password }}"
  data:
    - secretKey: gateway_username
      remoteRef:
        key: loki/gateway
        property: username
    - secretKey: gateway_password
      remoteRef:
        key: loki/gateway
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: loki-auth
  namespace: monitoring
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: loki-auth
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: loki/gateway
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: grafana-password-generator
  namespace: monitoring
spec:
  length: 64
  allowRepeat: true
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  refreshInterval: 2160h
  secretStoreRefs:
    - name: vault-backend
      kind: ClusterSecretStore
  selector:
    generatorRef:
      apiVersion: generators.external-secrets.io/v1alpha1
      kind: Password
      name: grafana-password-generator
  template:
    data:
      username: admin
      password: "{{ .password }}"
  data:
    - match:
        secretKey: password
        remoteRef:
          remoteKey: grafana/admin
          property: password
    - match:
        secretKey: username
        remoteRef:
          remoteKey: grafana/admin
          property: username
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-datasources
  namespace: monitoring
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-datasources
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          grafana/datasource: "true"
      data:
        default.yaml: |
          apiVersion: 1
          datasources:
            - name: Prometheus
              type: prometheus
              url: http://thanos-query-frontend:9090
              isDefault: true
              version: 1
              jsonData:
                timeInterval: 15s
            - name: Loki
              type: loki
              url: http://loki-gateway
              basicAuth: true
              basicAuthUser: {{.loki_username}}
              secureJsonData:
                basicAuthPassword: {{.loki_password}}
              version: 1
  data:
    - secretKey: loki_username
      remoteRef:
        key: loki/gateway
        property: username
    - secretKey: loki_password
      remoteRef:
        key: loki/gateway
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-admin
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: grafana/admin
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-authentik-client
  namespace: monitoring
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-authentik-client
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: grafana/authentik
