apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: thanos
  namespace: monitoring
spec:
  interval: 24h
  url: oci://registry-1.docker.io/bitnamicharts/thanos
  ref:
    semver: 17.x
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thanos
  namespace: monitoring
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chartRef:
    kind: OCIRepository
    name: thanos
  values:
    global:
      security:
        allowInsecureImages: true

    image:
      registry: quay.io
      repository: thanos/thanos
      tag: v0.40.1

    existingObjstoreSecret: thanos-object-store

    query:
      enabled: true
      resourcesPreset: "small"
      replicaLabel: [prometheus_replica]
      resources:
        requests:
          cpu: 20m
          memory: 512Mi
        limits:
          memory: 512Mi
      dnsDiscovery:
        enabled: true
        sidecarsService: prometheus-thanos-discovery
        sidecarsNamespace: monitoring
      networkPolicy:
        enabled: false

    queryFrontend:
      resources:
        requests:
          cpu: 40m
          memory: 700Mi
        limits:
          memory: 700Mi
      networkPolicy:
        enabled: false

    bucketweb:
      enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi
      networkPolicy:
        enabled: false

    compactor:
      enabled: true
      resources:
        requests:
          cpu: 290m
          memory: 512Mi
        limits:
          memory: 512Mi
      retentionResolutionRaw: 15d
      retentionResolution5m: 30d
      retentionResolution1h: 90d
      extraFlags:
        - --delete-delay=24h
      networkPolicy:
        enabled: false

    ruler:
      enabled: false

    storegateway:
      enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 700Mi
        limits:
          memory: 700Mi
      networkPolicy:
        enabled: false

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      prometheusRule:
        enabled: true
        default:
          create: true
