apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  chart:
    spec:
      chart: app-template
      version: 4.6.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    # yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.6.2/charts/other/app-template/values.schema.json
    controllers:
      main:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
              pullPolicy: IfNotPresent
            env:
              TZ: Europe/Lisbon
              DATA_FOLDER: "data"
              DOMAIN: "https://vaultwarden.${EXTERNAL_DOMAIN}"
              WEB_VAULT_ENABLED: true
              ORG_GROUPS_ENABLED: true
              ORG_EVENTS_ENABLED: true
              WEBSOCKET_ENABLED: "true"
              WEBSOCKET_ADDRESS: 0.0.0.0
              WEBSOCKET_PORT: 3012
              SMTP_HOST: smtp.gmail.com
              SMTP_SECURITY: starttls
              SMTP_PORT: 587
              SMTP_FROM: no-reply@${EXTERNAL_DOMAIN}
              SMTP_FROM_NAME: Vaultwarden
              SMTP_AUTH_MECHANISM: Login
              SIGNUPS_ALLOWED: false
              SSO_ENABLED: true
              SSO_ONLY: false
              SSO_AUTHORITY: https://authentik.${EXTERNAL_DOMAIN}/application/o/vaultwarden/
              SSO_SCOPES: openid email profile offline_access
              SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION: false
              SSO_CLIENT_CACHE_EXPIRATION: "0"
              SSO_SIGNUPS_MATCH_EMAIL: true
              DISABLE_ICON_DOWNLOAD: true
              ICON_CACHE_TTL: 0
            envFrom:
              - secretRef:
                  name: vaultwarden-secret-env
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            ports:
              - containerPort: 80
                name: http
                protocol: TCP
              - containerPort: 3012
                name: websocket
                protocol: TCP
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    # -- Configures service settings for the chart.
    service:
      main:
        controller: main
        sessionAffinity: ClientIP
        sessionAffinityConfig:
          clientIP:
            timeoutSeconds: 10800
        ports:
          http:
            port: 80
            targetPort: http
          websocket:
            enabled: true
            port: 3012
            targetPort: websocket

    ingress:
      # -- Enable and configure ingress settings for the chart under this key.
      main:
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - host: &domain vaultwarden.${INTERNAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
              - path: /notifications/hub/negotiate
                pathType: Prefix
                service:
                  identifier: main
                  port: http
              - path: /notifications/hub
                pathType: Prefix
                service:
                  identifier: main
                  port: websocket
        tls:
          - hosts:
              - *domain
            secretName: vaultwarden-ingress-tls

    # -- Configure persistence settings for the chart under this key.
    persistence:
      config:
        type: persistentVolumeClaim
        size: 5Gi
        accessMode: ReadWriteMany
        storageClass: ceph-filesystem
        globalMounts:
          - path: /data
