apiVersion: v1
kind: Namespace
metadata:
  name: metrics-server
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: metrics-server
  namespace: metrics-server
spec:
  interval: 24h
  url: https://kubernetes-sigs.github.io/metrics-server/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
  namespace: metrics-server
spec:
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  chart:
    spec:
      chart: metrics-server
      version: 3.x.x
      interval: 24h
      sourceRef:
        kind: HelmRepository
        name: metrics-server
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  values:
    metrics:
      enabled: true
    serviceMonitor:
      enabled: true
    tls:
      type: cert-manager
