---
version: "3"

tasks:
  reconcile:
    desc: Reconcile the kubernetes cluster source
    cmds:
      - flux reconcile source git flux-system

  nas:*:
    desc: Scale down all deployments that use NAS
    prompt:
      - "Are you sure you want to {{.STATE}} all deployments that use NAS?"
    vars:
      STATE: "{{.MATCH | first}}"
    requires:
      vars:
        - name: STATE
          enum: ["suspend", "resume"]
    cmds:
      - kubectl get deployments --all-namespaces -l nfsMount=true --no-headers | awk '{print $2, $1}' | xargs -L1 bash -c 'flux {{.STATE}} kustomization $0 -n $1'
      - kubectl get deployments --all-namespaces -l nfsMount=true --no-headers | awk '{print $2, $1}' | xargs -L1 bash -c 'flux {{.STATE}} helmrelease $0 -n $1'
      - kubectl get deployments --all-namespaces -l nfsMount=true --no-headers | awk '{print $2, $1}' | xargs -L1 bash -c 'kubectl scale --replicas {{if eq .STATE "suspend"}}0{{else}}1{{end}} deployment $0 -n $1'

includes:
  eso: ./eso
  flux: ./flux
  talos: ./talos
